<div id="observablehq-intro-bdda781f"></div>
<div id="observablehq-viewof-csv-bdda781f"></div>
<div id="observablehq-table1-bdda781f"></div>
<div id="observablehq-viewof-field-bdda781f"></div>
<div id="observablehq-map-bdda781f"></div>
<div id="observablehq-table2-bdda781f"></div>
<div id="observablehq-viewof-title-bdda781f"></div>
<div id="observablehq-viewof-r-bdda781f"></div>
<div id="observablehq-viewof-dorling-bdda781f"></div>
<div id="observablehq-viewof-col1-bdda781f"></div>
<div id="observablehq-viewof-col2-bdda781f"></div>
<div id="observablehq-viewof-notes-bdda781f"></div>
<div id="observablehq-save-bdda781f"></div>

<script type="module">
import {Runtime, Inspector} from "https://cdn.jsdelivr.net/npm/@observablehq/runtime@4/dist/runtime.js";
import define from "https://api.observablehq.com/@neocartocnrs/geocode.js?v=3";
new Runtime().module(define, name => {
  if (name === "intro") return new Inspector(document.querySelector("#observablehq-intro-bdda781f"));
  if (name === "viewof csv") return new Inspector(document.querySelector("#observablehq-viewof-csv-bdda781f"));
  if (name === "table1") return new Inspector(document.querySelector("#observablehq-table1-bdda781f"));
  if (name === "viewof field") return new Inspector(document.querySelector("#observablehq-viewof-field-bdda781f"));
  if (name === "map") return new Inspector(document.querySelector("#observablehq-map-bdda781f"));
  if (name === "table2") return new Inspector(document.querySelector("#observablehq-table2-bdda781f"));
  if (name === "viewof title") return new Inspector(document.querySelector("#observablehq-viewof-title-bdda781f"));
  if (name === "viewof r") return new Inspector(document.querySelector("#observablehq-viewof-r-bdda781f"));
  if (name === "viewof dorling") return new Inspector(document.querySelector("#observablehq-viewof-dorling-bdda781f"));
  if (name === "viewof col1") return new Inspector(document.querySelector("#observablehq-viewof-col1-bdda781f"));
  if (name === "viewof col2") return new Inspector(document.querySelector("#observablehq-viewof-col2-bdda781f"));
  if (name === "viewof notes") return new Inspector(document.querySelector("#observablehq-viewof-notes-bdda781f"));
  if (name === "save") return new Inspector(document.querySelector("#observablehq-save-bdda781f"));
  return ["data","field","dots","simulation"].includes(name);
});
</script>
